Makefile
.gitignore
.git
.idea
docker-compose.yaml
Dockerfile
README.md
__pycache__
*.db
.flake8
.env.example


# Distribution / packaging
.Python
static/
terraform/
env/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**/htmlcov
**/__pycache__

.coverage
.mypy_cache
.pytest_cache
*.db
